# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
.nuxt
dist
build
*.log

# Git and IDE
.git
.gitignore
.vscode
.idea
.DS_Store

# Docker files
Dockerfile
docker-compose.yml
.dockerignore