#APP_NAME=PanelManagement
#APP_ENV=production
#APP_ENV=development
#APP_DEBUG=true
#APP_URL=domainSite
#APP_URL=http://localhost:3000
#API_URL=myapi
# NUXT_PAYMENT_NAME=
# NUXT_PAYMENT_SHABA=
# NUXT_PAYMENT_CARD=